<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/">首页</li>
    </ul>
  </nz-header>

  <nz-content>
    <div class="back">
      <div class="container">
        <div class="form-content">
          <div class="form-title">
            <h2>找回我的密码</h2>
          </div>
          <input nz-input placeholder="请输入您的注册邮箱" [(ngModel)]="email" />
          <button
            nz-button
            nzType="primary"
            nzBlock
            [nzLoading]="isLoading"
            (click)="sendEmail()"
          >
            发送重置密码邮件
          </button>
          <a nz-button nzBlock nzType="link" [routerLink]="['/login']"
            >返回登陆</a
          >
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer>
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
