<div class="container mt-3">
    <div class="cont card">
        <div *ngIf="email" class="card-body">
            <h3 class="text-center">词嘛邮件验证：</h3>
            <hr>
            <form nz-form [formGroup]="registerForm" class="register-form" (ngSubmit)="resetPassword()">
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>请输入密码</nz-form-label>
                    <nz-form-control [nzSpan]="13" nzHasFeedback>
                        <input type="password" nz-input formControlName="password" placeholder="请输入密码">
                        <nz-form-explain *ngIf="password.invalid&&password.dirty">
                            <ng-container *ngIf="password.hasError('required')">
                                密码不能为空！
                            </ng-container>
                            <ng-container *ngIf="password.hasError('minlength')">
                                请输入至少6位密码！
                            </ng-container>
                            <ng-container *ngIf="password.hasError('maxlength')">
                                请输入小于64位密码！
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>请再次输入密码</nz-form-label>
                    <nz-form-control [nzSpan]="13" nzHasFeedback>
                        <input type="password" nz-input formControlName="confirmPassword" placeholder="请再次输入密码">
                        <nz-form-explain *ngIf="confirmPassword.invalid&&confirmPassword.dirty">
                            <ng-container *ngIf="confirmPassword.hasError('required')">
                                确认密码不能为空！
                            </ng-container>
                            <ng-container *ngIf="confirmPassword.hasError('confirm')">
                                两次输入密码不一致！
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzSpan]="17" [nzOffset]="7">
                        <button nz-button [disabled]="registerForm.invalid" [nzType]="'primary'">确定重置密码</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
