<div class="inner-content">
    <h2>创建任务</h2>
    <div class="container">
        <app-task-form #taskForm (formPayload)="onFormPayload($event)" [isDispatchForm]="false"></app-task-form>
        <div nz-row>
            <div nz-col nzSpan="12" nzOffset="6">
                <button nz-button class="mr-5" [nzType]="'primary'" (click)="taskForm.submitTask()">
                    提交
                </button>
                <button nz-button [nzType]="'secondary'">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>
