<div class="inner-content">
    <div nz-row nzType="flex" nzJustify="space-between">
        <div nz-col nzSpan="5">
            <h2>进行中</h2>
        </div>
        <div nz-col nzSpan="8">
            <ng-template #totalTemplate let-total> 总计 {{ total }} 条 </ng-template>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="请输入任务名称, 级别" />
            </nz-input-group>
            <ng-template #suffixIconSearch><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>
        </div>
    </div>

    <div class="list" *ngIf="show">
        <div class="items" *ngFor="let item of data; index as i">
            <div class="list-item" nz-row nzType="flex" nzAlign="middle">
                <div nz-col nzSpan="2">
                    <!-- 0 一级 1 二级 2 子任务  -->
                    <app-task-level-icon [level]="item.level"></app-task-level-icon>
                </div>
                <div nz-col nzSpan="4">
                    <div class="task-info">
                        <div class="title">
                            {{ item.title }}
                        </div>
                        <div class="content">
                            {{ item.content }}
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="4">
                    <div class="item-info ">
                        <div class="title">任务编号</div>
                        <div class="name">{{ item.numberNo }}</div>
                    </div>
                </div>
                <div nz-col nzSpan="3">
                    <div class="item-info ">
                        <div class="title">负责人</div>
                        <div class="name">{{ item.receiveUserId }}</div>
                    </div>
                </div>
                <div nz-col nzSpan="4">
                    <div class="item-info ">
                        <div class="title">开始时间</div>
                        <div class="name">{{ item.commitTime | date: 'yyyy-MM-dd hh:mm:ss' }}</div>
                    </div>
                </div>
                <div nz-col nzSpan="4">
                    <div class="title">任务进度</div>
                    <nz-progress [nzPercent]="item.process" nzSize="small"></nz-progress>
                </div>
                <div nz-col nzSpan="3">
                    <div class="item-operation">
                        <a class="task-expand" (click)="details(item.id)">任务详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nz-empty *ngIf="!show"></nz-empty>
</div>
