<div class="card">
    <div class="card-body">
        <form nz-form [formGroup]="changePasswordForm" (ngSubmit)="update()">
            <nz-form-item>
                <nz-form-label nzXs="24" nzMd="7" nzRequired>请输入旧密码</nz-form-label>
                <nz-form-control nzXs="24" nzMd="13" nzHasFeedback>
                    <input type="password" nz-input formControlName="oldPassword" placeholder="请输入旧密码">
                    <nz-form-explain *ngIf="oldPassword.invalid&&oldPassword.dirty">
                        <ng-container *ngIf="oldPassword.hasError('required')">
                            请输入旧密码！
                        </ng-container>
                        <ng-container *ngIf="oldPassword.hasError('maxlength')">
                            请输入小于64位旧密码！
                        </ng-container>
                        <ng-container *ngIf="oldPassword.hasError('minlength')">
                            请输入至少6位旧密码！
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzMd="7" nzRequired>请输入密码</nz-form-label>
                <nz-form-control nzXs="24" nzMd="13" nzHasFeedback>
                    <input type="password" nz-input formControlName="password" placeholder="请输入密码">
                    <nz-form-explain *ngIf="password.invalid&&password.dirty">
                        <ng-container *ngIf="password.hasError('required')">
                            密码不能为空！
                        </ng-container>
                        <ng-container *ngIf="password.hasError('minlength')">
                            请输入至少6位密码！
                        </ng-container>
                        <ng-container *ngIf="password.hasError('maxlength')">
                            请输入小于64位密码！
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzXs="24" nzMd="7" nzRequired>请再次输入密码</nz-form-label>
                <nz-form-control nzXs="24" nzMd="13" nzHasFeedback>
                    <input type="password" nz-input formControlName="confirmPassword" placeholder="请再次输入密码">
                    <nz-form-explain *ngIf="confirmPassword.invalid&&confirmPassword.dirty">
                        <ng-container *ngIf="confirmPassword.hasError('required')">
                            确认密码不能为空！
                        </ng-container>
                        <ng-container *ngIf="confirmPassword.hasError('confirm')">
                            两次输入密码不一致！
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzXs]="{ span: 24 }" [nzMd]="{ span: 17, offset: 7 }">
                    <button nz-button [disabled]="changePasswordForm.invalid" [nzLoading]="isLoading" [nzType]="'primary'">确定修改</button>
                </nz-form-control>
            </nz-form-item>
        </form>
        <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
        <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>

    </div>
</div>
